<html lang="en">
    <title>HogWash | History</title>
    <%- include('header') -%>

    <head>
        <link rel="stylesheet" href="/css/home.css" />
        <link rel="stylesheet" href="/css/history.css" />
    </head>
    
    <body>
        <div id="home">
            <%- include('navbar') -%>
        </div>

        <div class="history-border">
            <p style="font-size: 40px;font-weight: bold;">ประวัติการใช้งาน</p>
            <table class="history-table" style="width:200%">
                <tr>
                    <th>วันที่ใช้งาน </th>
                    <th>เวลาเริ่มใช้งาน</th>
                    <th>เครื่องที่ใช้</th>
                    <th>รูปแบบการซัก</th>
                    <th>ช่องทางการชำระเงิน</th>
                  </tr>
                  <tr>
                    <td>12/03/2566</td>
                    <td>12/03/2566</td>
                    <td>12/03/2566</td>
                    <td>12/03/2566</td>
                    <td>12/03/2566</td>
                  </tr>
                  <tr>
                    <td>12/03/2566</td>
                    <td>12/03/2566</td>
                    <td>12/03/2566</td>
                    <td>12/03/2566</td>
                    <td>12/03/2566</td>
                  </tr>
            </table>
        </div>
    
        <!-- js link -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="/js/home.js"></script>
    </body>
</html>